:host {
  width: 100%;
}

.todo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  padding: 5px;
}

.todo-element {
  padding: 0 5px;
}
