<article class="todo-container">
  <button pButton
          pRipple
          type="button"
          class="p-button-rounded p-button-outlined todo-element"
          icon="pi pi-check">
  </button>
  <h3 class="todo-element">{{title}}</h3>
  <h6 class="todo-element">{{username}} {{lastName}}</h6>
</article>

