:host {
  width: 100%;
}

.event-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
}

.event-element {
  margin: 0;
  padding: 5px;
}
