<article class="event-container">
  <section class="flex">
    <button pButton
            pRipple
            type="button"
            class="p-button-rounded p-button-outlined todo-element"
            icon="pi pi-calendar">
    </button>
  </section>
  <section class="flex flex-column">
    <h2 class="event-element">{{title}}</h2>
    <h3 class="event-element">{{date | date}}</h3>
  </section>

</article>

