<article class="header-container">
  <span class="header-search p-input-icon-left">
    <i class="pi pi-search"></i>
    <input type="text" pInputText placeholder="Search" [(ngModel)]="searchWord"/>
  </span>

  <p-dropdown [options]="options" [showClear]="true"
              (onChange)="onOptionSelected($event)"></p-dropdown>
</article>
