<article class="app-container">
  <app-header [appComponent]="this"></app-header>

  <app-create-note [noteType]="noteTypeToCreate"
                   *ngIf="showNoteForm"></app-create-note>

  <app-notes [notes]="notes"></app-notes>
</article>
