html,
body {
  background-color: var(--surface-b);
  color: var(--text-color);
  height: 100%;
  width: 100%;
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
